AUTH_SECRET=
DATABASE_URL=postgres://user:password@localhost:5432/destacai
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
OPENAI_API_KEY=
BREVO_API_KEY=
BREVO_SENDER=no-reply@yourdomain.com
